<!DOCTYPE html>

<!-- define angular app -->
<html>

<head>
  <!-- SCROLLS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
  <link rel="stylesheet" href="/css/style.css" />

  <!-- SPELLS -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="main.js"></script>
  <script src="controllers/homeController.js"></script>
  <script src="controllers/chatController.js"></script>
  <script src="controllers/gameController.js"></script>
  <script src="controllers/gameRoomController.js"></script>
  <script src="controllers/boardController.js"></script>
  <script src="directives/chatDirective.js"></script>
  <script src="directives/gameDirective.js"></script>
  <script src="directives/boardDirective.js"></script>

  <!-- Let's it have a pretty url -->
  <base href="/">
</head>

<!-- define angular controller -->
<body ng-app="angryCartels" ng-controller="homeController">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Angry Cartels</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#gameroom"><i class="fa fa-comment"></i> Gameroom</a></li>
      </ul>
    </div>
  </nav>

  <div id="main">
    <!-- angular templating -->
		<!-- this is where content will be injected -->
    <div ng-view></div>
    
  </div>
  
</body>

</html>
