<!DOCTYPE html>

<!-- define angular app -->
<html>

<head>
  <!-- SCROLLS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
  <link rel="stylesheet" href="/css/style.css" />

  <!-- SPELLS -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="main.js"></script>
  <script src="controllers/homeController.js"></script>
  <script src="controllers/chatController.js"></script>
  <script src="controllers/gameController.js"></script>
  <script src="controllers/gameRoomController.js"></script>
  <script src="controllers/canvasController.js"></script>
  <script src="directives/chatDirective.js"></script>
  <script src="directives/gameDirective.js"></script>
</head>

<!-- define angular controller -->
<body ng-app="angryCartels" ng-controller="homeController">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Angry Cartels</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#gameroom"><i class="fa fa-comment"></i> Gameroom</a></li>
      </ul>
    </div>
  </nav>

  <div id="main">
    <!-- angular templating -->
		<!-- this is where content will be injected -->
    <div ng-view></div>
    
  </div>

  <!-- Canvas Drawings -->
  <script>
    window.onload = function() {
      var canvas = document.getElementById('testCanvas');
      var ctx = canvas.getContext('2d');
      var startX = 40;
      var startY = 40;
      var imgWidth = 500;
      var imgHeight = 500;
      // Create an image from scratch
      var img = new Image();
      // Set source path
      img.src = '../../img/game_board.jpg';
      // Ensure the image has loaded before calling drawImage()
      img.onload = function() {
        ctx.drawImage(img, 40, 40, 500, 500);
        console.log("The image was drawn!");
      };
      // Moves the path to the specified point on the canvas, (40, 40), without creating a line
      ctx.moveTo(40, 40);
      // Adds a new point at (100, 100) and creates a line TO that point FROM the last specified point in the canvas, (40, 40) in this case
      ctx.lineTo(100, 100);
      // Actually draws the path that was defined
      ctx.stroke();
      console.log("The line was drawn!");
      // Draw a filled blue rectangle with dimension 25 by 25
      ctx.fillStyle = "blue";
      ctx.fillRect(100, 100, 25, 25);
      console.log("The rectangle was drawn!");
    };
  </script>
  
</body>

</html>
