<style>
* { margin: 0; padding: 0; box-sizing: border-box; }
div { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 15%;}
form button { width: 8%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 3px; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
</style>
<div ng-controller="chatController">
    <ul id="messages">
      <li ng-repeat="message in messages track by $index">{{message}}</li>
    </ul>
    <form ng-submit="sendNewMessage()">
      <input autocomplete="off" ng-model="userMessage">
      <button>Send</button>
    </form>
</div>