<div class="container" ng-controller='gameRoomController'>
	<form ng-if="!joined" ng-submit='joinSocket(username)'>
		Enter your username:
		<br>
		<input type="text" ng-model="username"><button ng-click=joinSocket(username)>Find Games!</button>
	</form>
	<div ng-if="joined">
	<div ng-if="!gameGoing">
		<div ng-if="!hostingGame&&!inGame">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="game in games" ng-if="game.host">{{game.host}} has a game<!--  with {{game.players.length}} players -->
					<button type="button" class="btn btn-default" ng-click="joinGame(game.host)" ng-if="game.players.length < 8">
						Join game
					</button>
					<!-- <label class="label label-default" ng-if="game.players.length === 8">Game Full</label> -->
					<!-- <label class="label label-default" ng-if="game.recentLocation">Started</label> -->
				</li>
			</ul>	
			<button type="button" class="btn btn-default" ng-click="createGame()">Create a game</button>
		</div>
		<div ng-if="hostingGame" class="col-sm-9">
			You are hosting a game with {{games[inGame].players.length}} players.
			<button type="button" class="btn btn-default" ng-click="stopHosting()">
				Stop hosting this game.
			</button>
			<button type="button" class="btn btn-default" ng-click="startGame()">
				Start!
			</button>
		</div>
		<div ng-if="!hostingGame&&inGame" class="col-sm-9">
			You are in a game.
			<button type="button" class="btn btn-default" ng-click="leaveGame()">
				Leave game
			</button>
		</div>
	</div>
	<game ng-show="gameGoing" class="col-sm-9"></game>
	<chat ng-show="inGame" class="col-sm-3"></chat>
	</div>
</div>