<div ng-controller="gameController">
	<div class="row">
		<div class="col-sm-6">
			<div>
				Players:
				<ul>
					<li ng-repeat="player in players">{{player.name}}: {{player.location}}</li>
				<ul>
			</div>
			<div>
				Teams:
				<div ng-repeat="team in teams">
					<bold>{{team.name}}</bold>
					<ul>
						<li>Money: {{team.money}}</li>
						<li>Properties: {{team.properties}}</li>
						<li>Bus Passes: {{team.busTickets}}</li>
						<li>Special Cards: {{team.specialCards}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class='col-sm-6'>
		It is {{currentPlayer}}'s turn!
		<br>
			<div ng-if="currentPlayer===username" class="btn-group-vertical">
				Actions:
				<button ng-repeat='action in actions' ng-click="doAction(action)" class="btn btn-primary">{{action}}</button>
			</div>
		</div>
	</div>
</div>
